body {
  background-color: bisque;
}

#title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

#results {
  display: flex;
  flex-direction: column;
}
